# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
packet-sniffer-env/

# Logs and dumps
*.log
*.dump

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Python package build
*.egg
*.egg-info/
dist/
build/
